//Web Address
$domain-name: "www.domain-name.com";

//Text
$base__font-size: 16px;
$base__line: 24px;

//Font Stacks
$font-family--primary: 'Montserrat', arial, sans-serif;
$font-family--primary-medium: 'Montserrat', arial, sans-serif;
$font-family--primary-bold: 'Montserrat', arial, sans-serif;
$font-family--secondary: 'Ubuntu', arial, sans-serif;

//Colors
$white: #fff;
$black: #292a2e;
$light-grey: #777777;

$battleship-grey: #7a7c7f;
$dark-silver: #bcbdbf;
//Message Colors
$error: lighten(rgb(254,40,81),15%) !default;
$success: lighten(#27ae60, 30%) !default;
$edit: rgba(255, 226, 109, 0.3) !default;


//Phil breakpoints -- please use these instead of "Bootstrap Breakpoints"
//Because we're working with these standards:
// SMALL (phone): 600px > browser width 
// MEDIUM (tablet): 800px > browser width >= 600px (for old Android tablets with a 912-960x600 screen)
// LARGE (desktop): Browser width >= 800px (for old laptops with a 800x600 screen)
$medium: 600px;
$large: 800px;
$extra-large: 1024px;
$super-extra-large: 1920px;

//Font variables
$default-font-size: $base__font-size - 2px;
$small-font-size: $default-font-size - 2px;
$lg-font-size: $default-font-size + 2px;
$xlg-font-size: $default-font-size + 4px;

//Heading Vairables
$heading-line-height: 28px !default;
$head1-font-size: 26px !default;
$head2-font-size: $head1-font-size - 4px !default;
$head3-font-size: $head1-font-size - 8px !default;

//Color Usage

//Path to Assets

//Top Menu height
$desktop-menu-height: 124px;
$mobile-menu-height: 74px;

