.LandingPage__Container{
    visibility: visible;
    opacity: 0;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;

    &.show{
        //visibility: visible;
        opacity: 1;
        //animation: all 2s ease-in-out forwards;
    }

    .row-section{
        width: 100%;
        margin-bottom: 20px;
    }

    .LandingPage__Nav-Bar{
        height: 54px;      // 0.06 width
    }

    .LandingPage__Instruction-Container{
        .Instruction-Left{
            display: inline-block;
            width: 20%;

            .Instruction-Left__Logo-Image{
                width:100%;
                transform: rotate(-15deg);
            }
        }
        .Instruction-Right{
            display: inline-block;
            width: 40%;
            margin-left: 10%;
            text-align: left;
            h1{
                font-size: 2.5em;                     //0.031 width
                font-family: Ubuntu;
            }
            h2{
                font-size: 1.25em;                   //0.013 width
                font-family: ProximaNova;
                font-weight: normal;
            }
        }
    }

    .LandingPage__Designs{

    }

    .LandingPage__Products{

    }

    .LandingPage__Contact{

    }
}

