.LandingPage__Container{
    visibility: visible;
    opacity: 0;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;

    &.show{
        //visibility: visible;
        opacity: 1;
        //animation: all 2s ease-in-out forwards;
    }

    .row-section{
        width: 100%;
        margin-bottom: 20px;
    }

    .LandingPage__Nav-Bar{
        height: 54px;      // 0.06 width
        margin-bottom: 80px;

        .Nav-Bar-Left{
            display: inline-block;
            float: left;
            height: 100%;
            width: 20%;
            .Nav-Bar-Left__Logo-Image{
                height: 80%;
                margin: 10px 0px;
                transform: rotate(-15deg);
            }
        }
        .Nav-Bar-Right{
            display: inline-block;
            float: right;
            width: 50%;
            height: 100%;

            ul{
                height: 100%;
                text-align: left;
                margin: 0;
                li {
                    display: inline-block;
                    float: left;
                    position: relative;
                    margin: auto;
                    vertical-align: center;
                    margin-right: 30px;         // 0.03125 width
                    margin-top: 20px;

                    &.active {
                        border-bottom: 4px solid #FED65A;
                        padding: 0 10px 12px;
                        a {
                          opacity: 1;
                        }
                      }
                }
            }
        }
    }

    .LandingPage__Instruction-Container{

        .Instruction-Left{
            display: inline-block;
            width: 20%;

            .Instruction-Left__Logo-Image{
                width:100%;
                transform: rotate(-15deg);
            }
        }
        .Instruction-Right{
            display: inline-block;
            width: 40%;
            margin-left: 10%;
            text-align: left;
            h1{
                font-size: 2em;                     //0.031 width
                font-family: Ubuntu;
            }
            h2{
                font-size: 1.25em;                   //0.013 width
                font-family: ProximaNova;
                font-weight: normal;
                color: #777777;


            }
        }
    }

    .LandingPage__Designs{

    }

    .LandingPage__Products{

    }

    .LandingPage__Contact{

    }
}

