@import "assets/sass/utilities/_config.scss";
@import "assets/sass/utilities/_utilities.scss";

.LandingPage{
    visibility: visible;
    opacity: 0;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    width: 100%;

    &.show{
        //visibility: visible;
        opacity: 1;
        //animation: all 2s ease-in-out forwards;
    }

    .LandingPage__Container{
        max-width: 300px;
        margin: auto;

        @include for-size(medium){
            max-width: 500px;
        }
        @include for-size(large){
            max-width: 670px;
        }
        @include for-size(extra-large){
            max-width: 800px;
        }
        @include for-size(super-extra-large){
            max-width: 1140px;
        }

        .row-section{
            width: 100%;
            margin: 30px 0px;     
        }

        .LandingPage__Nav-Bar{
            height: 54px;      // 0.06 width
            margin-bottom: 80px;

            .Nav-Bar-Left{
                display: inline-block;
                float: left;
                height: 100%;
                width: 20%;
                .Nav-Bar-Left__Logo-Image{
                    height: 80%;
                    margin: 10px 0px;
                    transform: rotate(-15deg);
                }
            }
            .Nav-Bar-Right{
                display: inline-block;
                float: right;
                width: 50%;
                height: 100%;

                ul{
                    height: 100%;
                    text-align: left;
                    margin: 0;
                    li {
                        display: inline-block;
                        float: left;
                        position: relative;
                        margin: auto;
                        vertical-align: center;
                        margin-right: 30px;         // 0.03125 width
                        margin-top: 20px;

                        &.active {
                            border-bottom: 4px solid #FED65A;
                            padding: 0 10px 12px;
                            a {
                            opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .LandingPage__Instruction-Container{
            height: 70vh;
            margin-top: 30vh;
            position: relative;
            //margin-bottom: 500px;
            .Instruction-Right{
                width: 260px;
                @include for-size(medium){
                    width: 350px;
                }
                margin: auto;
                text-align: left;
                h1{
                    font-size: 30px;                     //0.031 width
                    font-family: Ubuntu;
                    line-height: 2;
                }
                h2{
                    font-size: 1.25em;                   //0.013 width
                    font-family: $font-family--primary;
                    font-weight: normal;
                    color: #777777;
                }
            }
            .LandingPage__Scroll-Down-Button{
                position: absolute;
                width: 100%;
                bottom: 0;
                img{
                    width: 30px;
                    @include for-size(medium){
                        width: 40px;
                    }
                }
            }
        }

        .LandingPage__Designs{
            width: 100%;
            //margin: 67px 0px;       
            .design-blocks-container{
                //padding: 20px;
                display: block;
                @include for-size(medium){
                    display: flex;
                }
                flex-direction: row;
                justify-content: space-between;
                .design-block{
                    width: 300px;
                    height: 300px;
                    margin-top: 30px;
                    box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.16);
                    cursor: pointer;

                    @include for-size(medium){
                        margin-top: 0px;
                        width: 238px;                           //(500-24)/2
                        height: 238px;
                    }
                    @include for-size(large){
                        width: 323px;                           //(670-24)/2
                        height: 323px;
                    }
                    @include for-size(extra-large){
                        width: 388px;                           //(800-24)/2
                        height: 388px;
                    }
                    @include for-size(super-extra-large){
                        width: 558px;                           //(1140-24)/2
                        height: 558px;                  
                    }
                    overflow: hidden;

                    .design-block__Image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                    .design-block__Hover{
                        display: block;
                        width: 50%;
                        height: 50%;
                        padding: 25%;
                        margin-top: -100%;
                        background-color: #0a8167;
                        opacity: 0;
                        &:hover{
                            opacity: 0.84;
                        }
                        transition: all 0.2s ease-in-out;
                        
                        .design-block__Hovered-Text{
                            width: 100%;
                            margin: 50% 0 0 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            color: white;
                            
                        }
                    }
                    a{
                        text-decoration: none;
                    }

                }
            }

            &::before { 
                display: block; 
                content: " "; 
                //74
                margin-top: -$mobile-menu-height; 
                height: $mobile-menu-height; 
                @include for-size(medium){
                    margin-top: -$desktop-menu-height; 
                    height: $desktop-menu-height; 
                }
                visibility: hidden; 
                pointer-events: none;
            }
        }

        .LandingPage__Products{
            width: 100%;
            //margin: 67px 0px;     
            .project-blocks-container{
                width: 100%;
                display: block;
                .project-block{
                    position: relative;
                    width: 300px;
                    height: 300px;
                    box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.16);
                    cursor: pointer;

                    @include for-size(medium){
                        width: 100%;
                        height: 240px;
                    }
                    @include for-size(large){
                        width: 100%;
                        height: 320px;
                    }
                    @include for-size(extra-large){
                        width: 100%;
                        height: 383px;
                    }
                    @include for-size(super-extra-large){
                        width: 100%;
                        height: 545px;
                    }

                    .project-block__Image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }

                    .project-block__Hover{
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        background-color: #0a8167;
                        opacity: 0;
                        &:hover{  
                            opacity: 0.84;
                        }
                        transition: all 0.2s ease-in-out;
                        .project-block__Hovered-Text{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            color: white;              
                            -webkit-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                        }
                    }

                }
            }
        }

        .LandingPage__LetsConnect { 
            margin-top: 57px;
            margin-bottom: 20px;
            @include for-size(large){
                margin-top: 167px;
                margin-bottom: 100px;
            }
        }

        .Instruction-Type{
            display: none;
            @include for-size(medium){
                display: block;
            }
            color: black;
            height: 60px;
            font-family: $font-family--primary;
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid #0d5734; /* The typwriter cursor */
            //white-space: nowrap; /* Keeps the content on a single line */
            word-break: break-all;
            margin-left: 0; /* Gives that scrolling effect as the typing happens */
            animation: typing 3.5s steps(25, end), blink-caret .5s step-end infinite;
        }

        .Instruction-Type-Mobile{
            display: block;
            @include for-size(medium){
                display: none;
            }
            h1{
                height: 60px;
                font-family: $font-family--primary;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid #0d5734; /* The typwriter cursor */
                word-break: break-all;
                //white-space: nowrap; /* Keeps the content on a single line */
            }

            margin-left: 0; /* Gives that scrolling effect as the typing happens */
            h1:nth-child(1){
                width: 224px;
                border-right: none;
                animation: typing1 3.2s steps(16, end);
                animation-fill-mode: forwards;
            }
            h1:nth-child(2){
                width: 0;
                border-right: none;
                animation: typing2 1.8s steps(9, end), blink-caret .5s step-end infinite;
                -webkit-animation-delay: 3.2s;
                animation-delay: 3.2s;
                animation-fill-mode: forwards;
            }
        }
        
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes typing1 {
            0%{ 
                width: 0; 
                border-right: .15em solid #0d5734; /* The typwriter cursor */
            }
            99%{
                width: 224px;
                border-right: .15em solid #0d5734; /* The typwriter cursor */
            }
            100%{ 
                opacity: 1;
                border: none;
             }
        }

        @keyframes typing2 {
            from { 
                width: 0;
                border-right: .15em solid #0d5734; /* The typwriter cursor */
            }
            to { 
                width: 130px;
                border-right: .15em solid #0d5734; /* The typwriter cursor */
            }
        }
          
        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: #0d5734 }
        }

    }
}

